	{{ partial "head.html" . }}
	<nav id="navigatieMenu">
		<div class="dropdown">
    <button class="dropbtn">Engels</button>
    <div class="dropdown-content">
        <a href="http://localhost:1313/taak/InstructionVidEnglish/index.html">IT-tapa instruction video: The English way</a>
        <a href="http://localhost:1313/taak/IT-autobiography/index.html">IT-autobiography</a>
        <a href="http://localhost:1313/taak/IT-review/index.html">Review of software Kaseya</a>
    </div>
    </div>
<div class="dropdown">
    <button class="dropbtn">Stage</button>
    <div class="dropdown-content">
        <a href="http://localhost:1313/stage/Stageverslagen/index.html">Stageverslagen</a>
        <a href="http://localhost:1313/stage/Huisstijl/index.html">Huisstijl</a>
    </div>
    </div>
<div class="dropdown">
    <button class="dropbtn">Systeembeheer</button>
    <div class="dropdown-content">
        <a href="http://localhost:1313/taak/InstructionVidEnglish/index.html">IT-tapa instructie video</a>
        <a href="http://localhost:1313/taak/IT-Tapa/index.html">IT Tapa (sessies)</a>
        <a href="http://localhost:1313/taak/caseStudy/index.html">Case study</a>
    </div>
    </div>
<div class="dropdown">
    <button class="dropbtn">Software</button>
    <div class="dropdown-content">
    <a href="http://localhost:1313/taak/caseStudy/index.html">Website workflows</a>
    <a href="../../GIP_Javascript/index.html">Javascript implementatie</a>
    <a href="../../ITprofile/index.html">IT profile</a>
    <a href="http://localhost:1313/taak/DatabasesImplementatie/index.html">Database implementatie</a>
</div>
</div>
	</nav>
	<body class="Posts">>
		{{ partial "sidebar.html" . }}
	
		<div class="content container" >
			<div class="post">
			 	<h1 id="PostTitle">{{ .Title }}</h1>
			  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
			      {{ .Content }}
			</div>

			{{ if and (isset .Site.Params "disqusShortname") (ne .Site.Params.disqusShortname "") }}
				<h2>Comments</h2>
				{{ partial "disqus" . }}
			{{ end }}
		</div>

  </body>
</html>
