<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>Home</h1></a>
      <p class="lead" id="description">
      Dit is de GIP site van Bert Gysen.
      </p>
    </div>

    <ul class="sidebar-nav">
    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</div>
